<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="defaultPattern" value="%d{HH:mm:ss.SSS} %-5level %logger{35} - %msg %n" />

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder><pattern>${defaultPattern}</pattern></encoder>
  </appender>

  <property name="file-name" value="lab-gwtp" />
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/${file-name}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/${file-name}-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>1MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${defaultPattern}</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>

  <logger name="lab.gwtp" level="debug" />
  <logger name="lab.gwtp.domain" level="debug" />
  <logger name="lab.gwtp.rest" level="debug" />

</configuration>
